- import com.curiousinternals.typ.model.Concept
-@ val concept: Concept

.concept
  h1
    span.concept_name= concept.name
    a.concept_id(href='/concept/read/#{concept.id}') #{concept.id}
  
  h2 Explained By
  ul
    li
      a.concept_id(href='/resource/read/#{"54ef"}') 54ef
    li
      a.concept_id(href='/resource/read/#{"6a7"}') 6a7
  
  h2 Dependends On
  ul
    li Algorithms I
    li Algorithms II
  
  h2 Required For
  ul
    li Advanced Algorithms II
